{{!< default}}
	
<header id="header" class="header{{#if @blog.cover_image}} has-cover{{/if}}">
	<div class="inner">
		<a class="header-title" href="{{@blog.url}}">
			<h1 class="header-name">{{@blog.title}}</h1>
			{{#if @blog.description}}
				<span class="header-description">{{@blog.description}}</span>
			{{/if}}
		</a>

        <div class="header-social-media">
            <a href="https://github.com/ManuelRauber" target="_blank" class="social github"><i class="icomoon-github"></i></a>
            <a href="http://stackoverflow.com/users/959687/manuel-rauber" target="_blank" class="social stack-overflow"><i class="icomoon-stackoverflow"></i></a>
            <a href="https://twitter.com/manuelrauber" target="_blank" class="social twitter"><i class="icomoon-twitter"></i></a>
            <a href="https://www.facebook.com/manuel.rauber" target="_blank" class="social facebook"><i class="icomoon-facebook"></i></a>
            <a href="https://instagram.com/manuelrauber" target="_blank" class="social instagram"><i class="icomoon-instagram"></i></a>
            <a href="https://www.xing.com/profile/Manuel_Rauber" target="_blank" class="social xing"><i class="icomoon-xing2"></i></a>
            <a href="https://www.linkedin.com/in/manuelrauber" target="_blank" class="social linkedin"><i class="icomoon-linkedin2"></i></a>
        </div>
	</div>
	{{#if @blog.cover_image}}
	<div class="header-cover" style="background-image: url({{@blog.cover_image}})"></div>
	{{/if}}
</header>

<div id="post-index" class="container">

	<main class="content" role="main">
	
		{{> "loop"}}
	
	</main>

</div>
